.edited { background: #ffffbb !important; }
.moused { outline: solid 2px red; }
.selected { background: #bbffff; }
#EditBox {
	outline: solid 2px #88ffff;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	display: none;
	background: #bbffff;
	z-index: 1;
}
#EditBoxButtons {
	position: fixed;
	right: 5px;
	top: 5px;
}
#EditBoxButtons a {
	outline: 1px solid;
	padding: 1px;
	background: #aaaaff;
	text-decoration: none;
	color: black;
}
#EditBoxTarget {
	padding: 5px;
	padding-bottom: 0px;
}
#EditBoxText {
	width: 90%;
	margin: 5px;
	height: auto;
	overflow: auto;
}
#EditBoxTextMeasure {
	width: 90%;
	display: none;
}
